.element__like-btn {
  background: url(../../../images/like-btn.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 19px;
  border: none;
  cursor: pointer;
  transition: ease;
}

.element__like-btn:hover {
  opacity: .5;
}